/*  */
/* GENERAL STYLES */

/* :root {
  --lightColor0: #fdfdfd;
  --lightColor1: #f0f0f0;
  --lightColor2: #bbdbb4;

  --darkColor1: #314045;
  --darkColor2: #588593;
  --darkColor3: #84a7a6;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  color: #314045;
  background-color: #f0f0f0;
  line-height: 1.5em;
  font-family: "Merriweather", serif;
  font-weight: lighter;
}

/* CLEARFIX */
/* bottom of all pages */
/* projekt1, projekt2, projekt3 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* HEADINGS */
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  font-weight: lighter;
}
h1 {
  font-size: 3.5em;
  /* line-height: 1.5em; */
}
h2 {
  /* font-size: 2em; */
  line-height: 1.2em;
  padding: 0em;
}

h5 {
  text-align: right;
  font-weight: lighter;
  padding: 0.5em;
}

/* LINKS */
a {
  color: #314045;
}

h1 a {
  text-decoration: none;
  color: #314045;
}

h5 a {
  text-decoration: none;
  color: #314045;
}

/* newImg behind menu */
.newImg {
  top: 2.8em;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -3;
}

body.texte .newImg,
body.links .newImg {
  top: 2.2em;
}

body.projekt1 .newImg {
  margin-top: -4em;
}
body.projekt2 .newImg {
  margin-top: -2em;
}
body.projekt3 .newImg {
  margin-top: -1.5em;
}

/* HEADER */
/* all pages */
/* projekt1, projekt2, projekt3 */
header {
  text-align: center;
  text-align: left;
  margin: 16em auto 0em auto;
  padding: 0.7em;
  background-color: #f0f0f0;
}

header h1 {
  font-size: 3.5em;
  padding-top: 0.2em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}

body.projekt1 header h1,
body.projekt2 header h1,
body.projekt3 header h1 {
  font-size: 3.3em;
}
header h3 {
  margin-top: 0.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0em 0em;
}

header p {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5em;
}

/* fixed header */
/* home, about, contact, projekte, texte */
div.fixed-header {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.fixed-header header {
  margin: 0em auto 0em auto;
  padding: 3.5em 0em 3.5em 0em;
  width: 100vw;
  text-align: center;
  text-align: left;
  position: fixed;
  top: 14em;
  left: 50%;
  transform: translateX(-50%);

  /* background-color: green; */
}

.fixed-header header h1 {
  max-width: 720px;
  margin: 0em 0em 0em 0em;
  padding-left: 0.3em;
  /* background-color: indigo; */
}

.fixed-header header h3 {
  max-width: 720px;
  margin-top: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.schreibt {
  font-size: 0.75em;
  letter-spacing: 0em;
}

/* depending on fixed header */
/* home, about, contact, projekte, texte */
.main-content {
  margin: 32em 0em 0em 0em;
  background-color: #f0f0f0;
  border-top: 0.5px solid #314045;
  padding-bottom: 20em;
}

.texte .container {
  /* margin-left: 15%;
  margin-right: 15%; */
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.texte .container img {
  height: 50%;
}

.container div img.img-hoch {
  max-width: 40%;
  height: fit-content;
}

#mena {
  border: 10px solid white;
}

.texte h5 {
  border-bottom: 0.25px solid #314045;
  opacity: 0.75;
}

.aboutme h5 {
  margin-top: 0;
  padding-top: 0;
}

/* MAIN SECTION */
/* CSS GRID (container)*/
/* home, projekte, texte */

.container {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, auto);
  margin-top: 1.5em;
}

.texte .container {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  grid-template-rows: repeat(auto-fit, auto);
}

.container div {
  background-color: #fdfdfd;
  height: 100%;
}

.container div h2 {
  padding: 0.2em 0.5em 0em 0.25em;
  font-size: 1.5em;
}

.container div h3 {
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
  font-size: 1em;
}

.container div p {
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
}

.container div img {
  width: 100%;
  object-fit: cover;
}

.container div h2.text-art {
  border-bottom: 1px solid #314045;
}

/* MAIN SECTION */
/* about me*/
blockquote {
  background-color: #588593;
  opacity: 0.75;
  color: #f0f0f0;
  margin: 1em auto 2em auto;
  max-width: 720px;
}

blockquote p {
  font-family: "Merriweather", serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.5em;
  /* max-width: 80vw; */
  margin: 0em auto;
  text-align: left;
}

.contact blockquote {
  margin: 0em auto;
  text-align: left;
  max-width: 700px;
}
.contact blockquote p {
  padding: 1em 1em 5em 1em;
}

.left {
  max-width: 350px;
  position: relative;
}

.right {
  max-width: 350px;
  position: relative;
  float: right;
  margin-right: 0em;
  top: -17em;
}

.contact-left .right blockquote {
  background-color: #588593;
  opacity: 0.75;
}

/* image aboutme */
img#foto-mena {
  width: 720px;
  max-width: 100vw;
  text-align: left;
  /* width: 100%; */
  /* max-width: 360px; */
}
div.center-img {
  margin: 0em auto 0em auto;
  width: 720px;
  max-width: 100vw;
  background-color: #fdfdfd;
  /* margin: 0em 0em 0em 12em; */
  /* text-align: center; */
  /* height: 245px; */
  /* max-width: 400px; */
}

.aboutme .main-content {
  background-color: #fdfdfd;
}
section.aboutme {
  line-height: 1.7em;
  margin-bottom: 1em;
  margin-top: 1.5em;
  padding: 0em;
  text-align: center;
  text-align: left;
}

.aboutme p,
.aboutme h2,
.aboutme ul.list li a {
  max-width: 720px;
  margin: auto;
  padding: 1em;
}

.aboutme h2 {
  padding-left: 0.5em;
  padding-bottom: 0em;
}

/*  */
/* INTERNAL LINKS */
/* about me */
section.internal-links {
  margin-top: 3em;
}

.list li {
  list-style-type: none;
  margin: 0em auto;
  width: 100%;
  max-width: 800px;
  padding: 0.5em 0em;
  line-height: 2em;
}

.list li a:hover {
  background-color: #84a7a6;
  padding: 0.5em;
}

/* MAIN SECTION */
/* contact */
.contact .main-content {
  background-image: url(./buero_1_new3.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.contact .main-content {
  text-align: center;
  padding: 1.5em 0em 1.5em 0em;
  padding: 0em;
  /* background-color: #fdfdfd; */
}
.impressum .main-content {
  text-align: center;
  padding: 1.5em 0em 15em 0em;
  background-color: #fdfdfd;
}
#contact {
  line-height: 1.5em;
  /* margin-top: -0.5em; */
}

.contact-left {
  max-width: 720px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5em 2em 15em 2em;
  background-color: #f0f0f0;
  background-color: rgb(240, 240, 240, 0.75);
  /* opacity: 0.75; */
}

.impressum .contact-left {
  background-color: #588593;
  opacity: 0.75;
  color: #fdfdfd;
  padding: 1em 1em 10em 1em;
  max-width: 720px;
}

.impressum .main-content a {
  color: #fdfdfd;
}

/* MAIN SECTION */
/* links */

.links .main-content {
  text-align: center;
  padding: 0em 0em 20em 0em;
  background-color: #fdfdfd;
}

.links .main-content h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em;
  background-color: #bbdbb4;
  max-width: 720px;
  margin: 1em auto 0em auto;
}

#links {
  margin-top: 1.5em;
}

#links li {
  text-align: center;
  list-style: none;
  max-width: 720px;
  margin: 0em auto;
  background: #588593;
  padding: 0.5em 1em;
  opacity: 0.75;
  text-align: left;
}

#links a {
  /* text-decoration: none; */
  color: #fdfdfd;
  line-height: 2em;
}

#links li:hover {
  /* text-decoration: underline; */
  background-color: #588593;
  opacity: 1;
}

/* MAIN SECTION */
/* 3 COLUMNS CLEARFIX */
/* projekt1, projekt2, projekt3 */
/* bottom of all pages */

.main {
  margin: 2em;
  margin: 1em;
}
.main section {
  /* text-align: center; */
  margin-bottom: 2em;
}
.main section p {
  text-align: justify;
  line-height: 1.7em;
  margin-top: 0.5em;
}
.main section img {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* .main section.medienberichte {
  background-color: #588593;
  opacity: 0.75;
  padding: 20px 0px 20px 20px;
}

.main section.medienberichte a,
.main section.medienberichte li {
  list-style: none;
  text-decoration: none;
  color: var(--lightColor1);
} */

/*  */
/* BUTTONS */
/* send mail button (conatct)*/
/* click me button (projekt2-3) */
a.button1 {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #bbdbb4;
  border: 0.5px solid #314045;
  border-radius: 0.2em;
  color: #314045;
  margin: 3em 0em;
  padding: 1em 2em;
  opacity: 0.75;
}
a.button1:hover {
  background-color: #fdfdfd;
}

/* send mail button */
a.button1.mail:hover {
  background-color: #84a7a6;
  color: #fdfdfd;
  border: 0.5px solid #fdfdfd;
}

/* button with an image (projekt1)*/
.button-img:hover {
  background: url(./looping_fisch_illustration.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: #314045;
}

/* read more on click button */
#more1,
#more2,
#more3,
#more4,
#more5,
#more6 {
  display: none;
}

.myBtn {
  text-transform: uppercase;
  /* text-transform: lowercase; */
  background-color: #fdfdfd;
  border: 0.5px solid #314045;
  border-radius: 0.2em;
  color: #314045;
  margin: 2em 0em;
  padding: 1em;
  font-size: 1em;
  font-family: "Merriweather", serif;
  font-weight: lighter;
}

.myBtn:hover {
  text-decoration: underline;
}

/*  */
/* BOTTOM OF PAGE */
/* bottom of all pages */

/* .bottom {
  width: 100%;
  background-color: #84a7a6;
  background-color: #588593;
  color:  #314045;
  display: none;
}

.icon-text {
  color: #f0f0f0;
  line-height: 1.5em;
  font-size: 1em;
  text-transform: capitalize;
  font-weight: lighter;
  display: none;
}

.social-icon {
  color: #f0f0f0;
  font-weight: lighter;
  display: none;
}

#bottom {
  margin: 0px;
  padding: 4em 0em 2em 0em;
} */

/* background image bottom of page */
/* projekt1 */
.projekt1 div.back-img {
  width: 100%;
  height: 20vh;
  background: url("fisch_illustration_2.jpg");
  background-size: contain;
  background-position-x: 25%;
  background-repeat: no-repeat;
  background-color: white;
  opacity: 0.75;
  overflow: hidden;
  text-align: justify;
  padding: 5px;
  margin-top: 0em;
  z-index: 10;
}

body.projekt1 .bottom {
  margin-top: 0em;
}

/* style the breadcrumbs */
footer#home_footer ol.breadcrumb {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.2em;
}
ol.breadcrumb a {
  text-decoration: none;
}
ol.breadcrumb li a:hover {
  color: #bbdbb4;
}

ol.breadcrumb {
  padding-left: 20px;
}
ol.breadcrumb li {
  display: inline;
  list-style: none;
}

#here {
  color: #bbdbb4;
}

/* FOOTER */
/* all pages */
footer#home_footer {
  padding-top: 2.5em;
  text-align: center;
  background-color: #588593;
  opacity: 1;
  /* line-height: 3em; */
  font-size: 0.7em;
}

footer a,
footer #myTopBtn {
  text-decoration: none;
}

/* back to top button */
#myTopBtn {
  /* display: none; */
  /* position: fixed; */
  /* bottom: 20px; */
  /* right: 30px; */
  margin: 0 auto;
  z-index: 99;
  font-size: 1.15em;
  border: none;
  outline: none;
  background-color: #84a7a6;
  color: #314045;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
  font-family: "Merriweather", serif;
  font-weight: lighter;
  text-decoration: underline;
}

#myTopBtn:hover {
  background-color: #fdfdfd;
}

/* cookie banner */
/*  */
.alert {
  padding: 2em;
  background-color: #fdfdfd;
  background-image: url(./images_div/cookie.gif);

  background-position: bottom;
  background-size: 350px;
  /* height: 25%; */
  background-repeat: no-repeat;
  opacity: 0.85;
  color: white;

  max-width: 400px;
  float: right;
  font-size: 0.75em;
  /* max-width: 300px; */
  /* text-align: center; */
  position: fixed;
  bottom: 0em;
  right: 0em;
}

.closebtn {
  /* margin-left: 15px; */
  color: white;
  float: right;
  font-size: 2em;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  /* color: black; */
  text-decoration: underline;
}

.page-not-found .alert {
  background-color: #fdfdfd;
  background-image: url(./images_div/cookie.gif);
  background-position: bottom;
  /* background-size: 350px; */
  height: 300px;
  min-width: 243px;
  /* width: 450px; */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.85;
  color: white;
  position: relative;
  float: left;
}

.page-not-found .contact-left {
  background-color: #fdfdfd;
  margin-top: 2em;
}

.page-not-found .contact-left a {
  background-color: #588593;
  padding: 20px 38px;
  border-radius: 30px;
}

.page-not-found .main-content {
  margin: 6em 0em -10em 0em;
  border: none;
}
/*  */
/*  */

/*  */
/* MEDIA QUERY */
/*  */
/* responsive - big screen */

@media screen and (min-width: 800px) {
  /* header */
  /* fixed header  */

  header {
    margin: 9em auto 4.5em auto;
    max-width: 50vw;
    max-width: 720px;
    padding: 0em;
  }

  header h1 {
    /* font-size: 5em; */
    font-size: 4em;
    padding-top: 0.5em;
    letter-spacing: 0.05em;
  }

  .schreibt {
    font-size: 0.85em;
    letter-spacing: 0em;
  }

  header p {
    margin: 1em auto;
  }

  .fixed-header header {
    top: 5em;
    max-width: 80vw;
    max-width: 720px;
    padding: 3.5em 0em 3.5em 0em;
  }

  .fixed-header header h1,
  .fixed-header header h3 {
    padding-left: 0em;
    margin-top: 0.5em;
  }

  .newImg {
    display: none;
  }

  /* main content */
  /* home, aboutme, contact, projekte, texte */
  .main {
    margin: 2em;
  }

  .main-content {
    margin: 24em 0em 0em 0em;
  }

  .texte .container {
    margin-left: 1.5em;
    margin-right: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  /* css grid */
  /* home, projekte, texte */
  .container {
    grid-template-rows: repeat(auto-fit, auto);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 1.5em 1.5em 1.5em 1.5em;
  }

  /* aboutme */
  blockquote {
    margin: 2em auto 3em auto;
    max-width: 720px;
    float: none;
  }

  section.aboutme blockquote p {
    padding: 0.5em;
  }

  section.aboutme {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding: 0em;
  }

  /* .aboutme blockquote p {
    max-width: 80vw;
  } */

  .aboutme p,
  .aboutme h2 {
    padding: 0.5em 0em;
  }

  /* .img-box {
    max-width: 720px;
  } */

  /* internal links */

  section.internal-links {
    margin: 2em auto;
  }

  .aboutme ul.list li a {
    padding: 0em;
    margin: 0em;
  }

  /* main section */
  /* projekt1, projekt2, projekt3 */
  .main section {
    float: left;
    width: 31.4285714286%;
    margin-right: 2.85714285714%;
  }

  .main section h2 {
    text-align: left;
  }

  div.main {
    margin-bottom: 5em;
  }

  .main section:last-child {
    margin-right: 0;
  }

  /* footer#home_footer ol.breadcrumb {
    text-align: left;
    padding-bottom: 20px;
  } */

  .page-not-found .main-content {
    margin: 10em 0em -10em 0em;
  }
}

/* responsive small screen*/
/* bottom of page - social-icons */
@media screen and (min-width: 350px) {
  .small section {
    float: left;
    width: 31.4285714286%;
    margin-right: 2.85714285714%;
  }
  .small section:last-child {
    margin-right: 0;
  }

  #bottom {
    padding-bottom: 0em;
  }
}

/* self-made mediaquery... */

@media screen and (max-width: 350px) {
  .newImg {
    top: 4em;
  }

  .fixed-header header {
    top: 12em;
    padding-top: 2em;
  }
  /* 
  .fixed-header header h3 {
    padding-left: 0em;
  } */
  .home .main-content,
  .aboutme .main-content,
  .contact .main-content,
  .projekte .main-content,
  .texte .main-content,
  .links .main-content {
    margin: 28em 0em 0em 0em;
    background-image: none;
  }

  header {
    margin-top: 13em;
  }

  header h1 {
    padding-top: 0em;
  }
  .alert {
    max-height: 120px;
    padding: 0.5em;
  }

  .page-not-found .alert {
    min-height: 250px;
  }
}
/* font-size small*/
@media screen and (max-width: 540px) {
  .heading1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  h1 {
    font-size: 2em;
  }
  p.text-size {
    font-size: 1.2em;
  }

  h3.text-size {
    font-size: 1.3em;
  }

  header p {
    font-size: 1em;
  }

  header {
    margin-top: 14em;
  }

  .fixed-header header {
    padding-top: 2em;
  }

  .container div h2 {
    font-size: 1.5em;
  }
  .container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .texte .container {
    margin-left: 0em;
    margin-right: 0em;
  }
  .main-content {
    margin: 30em 0em 0em 0em;
  }

  header h3 {
    margin-top: 0.5em;
  }
  /* .fixed-header header h3 {
    padding-left: 0em;
  } */

  .right {
    float: none;
    top: 0em;
    max-width: 100vw;
    margin: 0em;
    /* margin-right: 1em; */
  }

  .contact-left blockquote {
    margin-left: -1em;
    margin-right: -1em;
  }
}
